{
    "plugins": [
        [
            "module-resolver",
            {
                "alias": {
                    "~": "./src",
                    "@assets" : "./src/assets"
                }
            }
        ]
    ]
}
